{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<div class="container my-5 py-5" data-aos="fade-left">
		<div class="row py-5 my-5">
			<div class="col-md-8 border rounded shadow m-auto p-5 ">
				<form method="post">
					<div class="text-center">
						<h1 class="mt-3">Connexion</h1>
					</div>
					{% if error %}
						<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}

					{% if app.user %}
						<div class="mb-3">
							You are logged in as
							{{ app.user.username }},
							<a href="{{ path('app_logout') }}">Logout</a>
						</div>
					{% endif %}

					<div class="form-group mb-3">
						<label for="inputEmail">Email</label>
						<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
					</div>
					<div class="form-group mb-3">
						<label for="inputPassword">Password</label>
						<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
					</div>

					<div class="checkbox mb-3">
						<label>
							<input type="checkbox" name="_remember_me">
							Remember me
						</label>
					</div>


					<button class="btn btn-lg btn-primary btn-block" type="submit">
						Sign in
					</button>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
