{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
{% include "home/welcome.html.twig" %}
{% include "home/portfolio.html.twig" %}
{% include "home/blogposts.html.twig" %}

{% endblock %}
