@import "~bootstrap/scss/bootstrap";
@import './style.css';
// import Swiper styles
@import '~swiper/swiper-bundle.css';
@import '~aos/dist/aos.css';
@import '~remixicon/fonts/remixicon.css';
@import '~bootstrap-icons/font/bootstrap-icons.css';

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #4154f1;
  text-decoration: none;
}

a:hover {
  color: #717ff5;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Nunito", sans-serif;
}